$map_width: 600px;
$map_bgd_color: #eeeeee;
$map_border_radius: 0;

/** Stately setup
*************************************/
@import "_setup.scss";

/** Style customizations
*************************************/
@import "_customizations.scss";

/** Page styles
*************************************/
@import "_screen.scss";

#mymap {
     @include mapstyle(neutral);
}

#intrideans {
     @include mapstyle(intrideans);
}

#political {
     @include mapstyle(political);
}